/node_modules
/public/hot
/public/storage
/public/invoices*
/storage/*.key
/storage/orders
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/cron_history.log
public/cron_error_history.log
